<br>
<h4>
    {{ title }}
</h4>
<br>

<div class="row">
  <div class="col">
    <h4>Tareas pendientes</h4>
    <ul class="list-group">
      <app-task *ngFor="let t of tasksService.tasks" [task]="t" [done]="false"></app-task>
    </ul>
  </div>

  <div class="col">
    <h4>Tareas completadas</h4>
    <ul class="list-group">
      <app-task *ngFor="let t of tasksService.tasks" [task]="t" [done]="true"></app-task>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <form (ngSubmit)="onSubmitTask()" #form="ngForm">
      <br>
      <div class="form-group">
        <label for="description">Nueva tarea</label>
        <input type="text"
          class="form-control"
          id="description"
          name="description"
          [(ngModel)]="newTask.description"
          #description="ngModel"
          required
          [ngClass]="{'is-invalid': description.touched && description.invalid }"
        >
        <div *ngIf="description.touched && description.invalid" class="text-danger">
          <div>
            <i class="fa fa-exclamation-circle"></i>
            Ingrese una descripción
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary" [disabled]="!form.valid">
        Agregar tarea
      </button>
    </form>
  </div>
</div>