<li class="list-group-item" *ngIf="task.done === done">
  <input type="checkbox" [(ngModel)]="task.done">
  {{ task.description }}
  <button type="button" class="btn btn-sm btn-outline-danger float-right" (click)="deleteTask(task)">
    Eliminar
  </button>
</li>